# Firebase API
FIREBASE_ADMIN_KEY={"projectId": "...", "clientEmail": "...", "privateKey": "..."}

# AI Config
GEMINI_API_KEY=

# Payments
LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_STORE_ID=
LEMONSQUEEZY_WEBHOOK_SECRET=
VITE_LEMONSQUEEZY_STORE=caas
VITE_LS_STARTER_VARIANT_ID=
VITE_LS_PROFESSIONAL_VARIANT_ID=
